.main-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atmos {
    background-color: aliceblue;
    width: 500px;
    height: 500px;
}

.plants {
    /* background-color: rgb(200, 255, 199); */
    width: 500px;
    height: 200px;
}

.data {
    display: flex;

}

#oxygen-label {
    margin-right: 250px;
}

.levels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.level-items {
    margin-right: 75px;
}